tkinterweb==3.24.5; platform_system != 'Windows' and python_version >= '3.8'
pyinstaller==6.10.0
pyperclip==1.9.0
Pillow==10.4.0
mss==9.0.1
requests>=2.31.0,<3
mnemonic>=0.20,<1
bip-utils>=2.9,<3
stripe>=11,<12
fastapi>=0.115,<1
uvicorn>=0.30,<1
python-dotenv>=1,<2
